{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/hastags.css' %}">
<div class="container">
    <div class="buttons">
        <button class="btn"><a href="{% url 'kids_products' %}">Детская</a></button>
        <button class="btn"><a href="{% url 'teenager_products' %}">Подростковая</a></button>
        <button class="btn"><a href="{% url 'adults_products' %}">Взрослая</a></button>
    </div>

    {% for i in all_products %}
    <div class="content">
        <p class="white">{{ i.title }}</p>
        <hr class="white">
        <p class="white">{{ i.price }}</p>
    </div>
    {% endfor %}
</div>
{% include 'components/footer.html' %}